@import-normalize;

:root {
    --layoutOrder-Base: 0;
    --layoutOrder-SidePane: 1;
    --layoutOrder-Player: 2;

    --color-base: #000;
    --color-normalText: #eee;
    --color-playerShadow: #666;
    --color-playerSeekbarBase: #333;
    --color-playerSeekbarLoaded: #444;
    --color-playerSeekbarPlayed: #39f;
    --color-sidePaneBase: rgb(0 0 0 / 20%);
    --color-sidePaneShadow: #666;
    --color-showSidePaneBase: rgb(255 255 255 / 10%);
    --color-detailsArtistName: #ccc;
    --color-detailsGenreName: #999;
    --color-detailsDownloadLink: #8bf;
    --color-itemListSeparator: #333;
    --color-itemListSubText: #999;
    --color-link: #6af;
}

p,
h1,
h2,
small {
    margin: 0;
    padding: 0;
}

button {
    color: var(--color-normalText);
}

a {
    color: var(--color-link);
}

html,
body {
    font-family: system-ui, sans-serif;
    font-size: 16pt;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background: var(--color-base);
    color: var(--color-normalText);
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

#ShowSidePaneButton {
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--layoutOrder-Base);

    width: 2rem;
    height: 2rem;
    border: 0;
    background: var(--color-showSidePaneBase);
    cursor: pointer;
}

#MainLayout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "list" "player";
}

#Top {
    position: relative;
    grid-area: list;
    overflow-y: auto;
    overflow-x: hidden;
}

#TopScrollContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes activeItemBackground {
    from {
        background: rgb(192 204 255 / 15%);
    }

    to {
        background: rgb(192 204 255 / 20%);
    }
}

#ItemList {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14pt;

    & > li {
        & .labelContainer {
            padding: 0.4rem;
            border-bottom: solid 1px var(--color-itemListSeparator);
            cursor: pointer;
            background: transparent;
            transition: background 0.1s ease;

            &:hover {
                background: rgb(255 255 255 / 10%);
            }
        }

        & .groupingValue {
            font-weight: bolder;
        }

        & .containedCount {
            font-size: 70%;
            color: var(--color-itemListSubText);
            font-style: italic;
            margin-left: 0.4rem;
        }
    }

    & > li > ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: solid 1px var(--color-itemListSeparator);
        }

        li.active {
            animation: activeItemBackground 2s ease infinite alternate;
        }

        & a {
            display: block;
            padding: 0.4rem;
            padding-left: 1.4rem;
            text-decoration: none;
            background: transparent;
            transition: background 0.1s ease;

            &:hover {
                background: rgb(255 255 255 / 10%);
            }
        }

        & .title {
            color: var(--color-normalText);
        }

        & .genre {
            margin-left: 0.4rem;
            font-size: 80%;
            color: var(--color-itemListSubText);
            font-style: italic;
            font-weight: lighter;
        }

        & .createdAt {
            margin-left: 0.4rem;
            font-size: 80%;
            color: var(--color-itemListSubText);
            font-style: italic;
            font-weight: lighter;
        }
    }
}

#Player {
    z-index: var(--layoutOrder-Player);
    background: var(--color-base);
    grid-area: player;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "playing playing" "seek seek" "controls volume";
    column-gap: 0.8rem;
    box-shadow: 0 0 8px 0 var(--color-playerShadow);
}

#PlayerPlayingArea {
    grid-area: playing;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

#PlayerSeekBar {
    grid-area: seek;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#PlayerSeekBarMain {
    flex-grow: 1;
    margin: 1rem;
    height: 6px;
    position: relative;
}

#PlayerSeekBarBackground {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    background: var(--color-playerSeekbarBase);
    border-radius: 3px;
    width: 100%;
}

.PlayerSeekBarLoaded {
    position: absolute;
    top: 0;
    height: 6px;
    background: var(--color-playerSeekbarLoaded);
    border-radius: 3px;
}

#PlayerSeekBarPlayed {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    background: var(--color-playerSeekbarPlayed);
    border-radius: 3px;
    box-shadow: 0 0 8px 0 var(--color-playerSeekbarPlayed);
}

#PlayerControls {
    grid-area: controls;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 0.4rem;

    & .Main {
        transform: scale(1.25);
    }

    & button {
        display: block;
        background: transparent;
        border: solid 2px var(--color-normalText);
        color: var(--color-normalText);
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        cursor: pointer;
    }
}

#PlayerVolumeControls {
    grid-area: volume;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#DetailsPane {
    z-index: var(--layoutOrder-SidePane);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: var(--color-sidePaneBase);
    backdrop-filter: blur(16px);
    box-shadow: 0 0 16px 0 var(--color-sidePaneShadow);
    transform: translateX(100%);
    opacity: 0;
    transition:
        transform 0.2s ease,
        opacity 0.2s linear;
    font-size: 12pt;
    padding: 0.8rem;

    &.show {
        transform: translateX(0%);
        opacity: 1;
    }

    #DetailsCloseButton {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border: 0;
        background: transparent;
    }
}

#DetailsContentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    & h2 {
        font-size: 80%;
        color: var(--color-detailsGenreName);
        font-style: italic;
        font-weight: normal;
    }

    & h1 {
        font-size: 150%;
        font-weight: normal;

        & small {
            font-size: 80%;
            color: var(--color-detailsArtistName);
        }
    }

    & > ul {
        margin: 0;
        padding: 0;
        padding-left: 0.8rem;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        list-style: none;
        font-size: 90%;
        line-height: 1rem;
    }

    #DetailsComment {
        flex: 1;
        overflow: auto;
    }

    #DetailsDownloadSection {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        & p {
            flex: 1;
        }

        & a {
            display: block;
            padding: 0.6rem 0.8rem;
            text-decoration: none;
            color: var(--color-detailsDownloadLink);
            border: solid 1px var(--color-detailsDownloadLink);
            border-radius: 8px;
            background: rgb(var(--color-detailsDownloadLink) / 0%);
            transition: background 0.2s ease;

            &:hover {
                background: rgb(var(--color-detailsDownloadLink) / 20%);
            }

            & > span {
                vertical-align: middle;
            }
        }
    }
}
