@import-normalize;

* {
    font-size: 1rem;
    font-weight: normal;
}

:root {
    font-family: Inter, system-ui, sans-serif;
    /* fix for chrome */
    font-feature-settings:
        "liga" 1,
        "calt" 1,
        "tnum" 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, system-ui, sans-serif;
    }
}

label,
h1 {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 12pt;
    background: #f0f4ff;
}

article {
    margin: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 0.8em;
    max-width: var(--maxWidth, 720px);
    margin-left: auto;
    margin-right: auto;

    & > h1 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bolder;

        &::after {
            margin-top: 0.8rem;
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient(
                to right,
                rgb(160 160 160 / 0%) 0%,
                rgb(160 160 160 / 100%) 25%,
                rgb(160 160 160 / 100%) 75%,
                rgb(160 160 160 / 0%) 100%
            );
        }
    }
}

@keyframes dialogEnter {
    from {
        opacity: 0;
        transform: translateY(8px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

dialog {
    border-radius: 24px;
    border: solid 1px #ccc;
    box-shadow: 0px 4px 32px 0 #aaa;
    animation: dialogEnter 0.1s ease;

    & > h1 {
        text-align: center;
    }
}
dialog::backdrop {
    backdrop-filter: blur(8px);
}

nav {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 12px;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;

        & > li {
            padding: 0.8rem 0;

            & > a {
                padding: 0.8rem;
            }
        }

        li + li {
            &::before {
                content: "|";
            }
        }
    }
}

#MultiUploadDropArea {
    border: dashed 2px #ccc;
    background: #f0f0f0;
    padding: 4rem;
    margin: 1rem;
    color: #aaa;
    text-align: center;
}

#MultiUploadSubmitAllButton {
    display: block;
    margin: 1rem;
    margin-left: auto;
}

#MultiUploadAddButton {
    display: block;
    width: 100%;
}

.multiUploadEntry {
    border: solid 1px #ccc;
    position: relative;

    & > details > summary {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: solid 1px #ccc;
        cursor: pointer;
        padding: 0.4rem;

        & > p {
            margin: 0;
            padding: 0;
        }

        & .titles {
            flex-grow: 1;
        }

        & .success {
            color: #0c3;
        }

        & .failed {
            color: #c00;
        }
    }

    & > .progressOverlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        background: #0bf;

        transition: width 0.2s ease;
    }
}
